.runes {
    margin: 20px;
}
@font-face {
    font-family: 'futhark';
    src: url(src/assets/font/RUNE.TTF);
}
.futhark {
    font-family: 'futhark';
    font-size: x-large;
    letter-spacing: 4px;
    font-weight: bold;
}